
.ms-auto .nav-link{
  padding: 8px 10px;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  cursor: pointer;
  position: relative;
}

.nav-link:focus,
.nav-link:hover {
color: #5E17EB;
font-weight: 600;
}

.nav-link:focus:after,
.nav-link:hover:after {
width: 100%;
left: 0%;
}

.nav-link:after {
content: "";
pointer-events: none;
bottom: -2px;
left: 50%;
position: absolute;
width: 0%;
height: 2px;
background-color: #5E17EB;
transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
transition-duration: 400ms;
transition-property: width, left;
}

.slider-for .slick-prev, 
.slider-for .slick-next {
  width: 30px !important;
  height: 40px;
  background: none; /* Menghapus background tombol */
  color: #ffffff; /* Warna ikon */
  z-index: 1; /* Agar tombol berada di atas konten slider */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.swiper{
  text-align: center !important;
}

/* Menyesuaikan gaya tombol prev */
.slider-for .slick-prev {
  left: 10px; /* Jarak dari sisi kiri slider */
}

/* Menyesuaikan gaya tombol next */
.slider-for .slick-next {
  right: 10px; /* Jarak dari sisi kanan slider */
}

/* Gaya untuk ikon dalam tombol navigasi */
.slider-for .slick-prev:before, 
.slider-for .slick-next:before {
  font-size: 24px; /* Ukuran ikon */
  color: #ffffff; /* Warna ikon */
}

/* Menambahkan efek hover pada tombol */
.slider-for .slick-prev:hover, 
.slider-for .slick-next:hover {
  background: rgba(255, 255, 255, 0.1);
}

.navbar{
  box-shadow: 0 4px 4px #c4c4c4;
}

#hero{
  margin: 75px 0 0 0;
}

#hero .wrapper{
  width:55%;
}

.about .fs-5.fw-light.py-4{
  font-size: 20px;
}

.sideWrap{
  right: -400px;
  top: 100px;
  transform: rotate(45deg);
  font-size: 48px;
  width: 800px;
  height: 500px;
}

.partners{
  width: 60%;
}

.realtour img{
  width: 190px;
  height: 180px;
  object-fit: contain;
  margin-top: -10px;
}

.nyamanin img{
  width: 200px;
  height: 190px;
  object-fit: contain;
  margin-top: -5px;
}

.AYP img{
  width: 240px;
  height: 190px;
  object-fit: contain;
  margin-top: -5px;
}

.TMF img{
  width: 240px;
  height: 190px;
  object-fit: contain;
  margin-top: -5px;
}

.TMC img{
  width: 240px;
  height: 190px;
  object-fit: contain;
  margin-top: -5px;
}

.kronika img, .habatour img{
  width: 190px;
  height: 180px;
  object-fit: contain;
}

.bahana img{
  width: 210px;
  height: 200px;
  object-fit: contain;
  margin-top: -9px;
}

.apostrof img, .halakah img{
  width: 180px;
  height: 150px;
  object-fit: contain;
}

.slider-for {
  width: 65%;
  margin: 0 auto;
}
.slider-nav {
  width: 65%;
  margin: 0 auto;
}

.slider-for button{
  padding: 10px 28px;
  border-radius: 30px;
  border: none;
}
.slider-for .fw-bold.button-blur{
  backdrop-filter: blur(4px) !important;
  color: white;
  background-color: rgba(229, 231, 235, 0.2) !important;
}

.slider-for .text-white.position-absolute{
  margin: -110px 0 0 30px;
  position: relative;
  z-index: 5;
}

.slider-for .d-flex.gap-4{
  margin: 40px 0 0 0;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
  color: rgb(255, 255, 255) !important;
  background-color: #a1a1a1;
  width: 30px !important;
  height: 37px !important;
  border-radius: 5px;
  right: 5px !important;
  opacity: 0.9 !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-prev{
  color: rgb(255, 255, 255) !important;
  background-color: #a1a1a1;
  width: 30px !important;
  height: 37px !important;
  border-radius: 5px;
  left: 5px !important;
  opacity: 0.9 !important;
}

.swiper-button-next:after{
  font-size: 20px !important;
  font-weight: 800;
}
.swiper-button-prev:after{
  font-size: 20px !important;
  font-weight: 800;
}

.slick-dots li{
  margin: 0 3px !important;
  width: 15px !important;
  height: 15px !important;
}

.image-wrapper{
  position: relative;
}

.image-wrapper::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  border-radius: 0 0 7px 7px;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
}

#product{
  padding: 80px 0 130px 0;
}

#product .img-icon{
  width: 100px;
  height: 100px
}

#product .card-body.p-4 p{
  font-size: 15px;
}

#product .card-bet .card-body.p-4{
  height: auto;
}

#product .card-bet{
  width: 450px;
  height: auto;
}

#portfolio .py-5{
  padding-top: 6rem !important;
}

#portfolio .py-5 .btn.btn-dark{
  box-shadow: 4px 4px 0 0 #5E17EB;
}

#portfolio .py-5 .btn.btn-dark:hover{
  box-shadow: 0 4px 0 0 #5E17EB;
}

#documentation .py-5 .btn.btn-dark{
  box-shadow: 4px 4px 0 0 #5E17EB;
}

#documentation .py-5 .btn.btn-dark:hover{
  box-shadow: 0 4px 0 0 #5E17EB !important;
}


#documentation .py-5{
  padding-top: 6rem !important;
}

#documentation .breadcrumb{
  font-family: "Open Sans", sans-serif;
}

#brandidentity .py-5{
  padding-top: 6rem !important;
}

#about .display-5.fw-normal.mb-2 span{
  background-color: #F8F9FA;
  padding: 6px 15px 0 15px;
}
#about .display-3.fw-bold{
  text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

.packet-documentation .circle-elemen img{
  width: 160px;
  height: auto;
  position: absolute;
  right: 30px;
  margin: 120px 0 0 0;
}

.packet-documentation .portfolio{
  padding: 20px 0;
  margin: 30px 0 0 0;
}

.packet-documentation .title{
  text-align: center;
  margin: 10px 0;
}

.packet-documentation .title h3{
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  font-size: 30px;
  display: inline-block;
  position: relative;
}

.packet-documentation .title h3 span{
  display: inline-block;
  width: fit-content;
  position: relative;
}

.packet-documentation .title h3 span:before{
  content: "";
  width: 100%;
  height: 4px;
  background-color: #5E17EB;
  position: absolute;
  bottom: 3px;
}

.packet-documentation .packet{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.packet-documentation .packet .card{
  width: 25%;
  padding: 15px;
  transition: 0.5s;
  margin-top: 5px;
}

.packet-documentation .packet .card:hover{
  margin-top: -5px;
  box-shadow: 0 2px 4px #5E17EB;
}

.packet-documentation .packet .card h4{
  border: 1px solid;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  border-radius: 30px;
  font-family: "League Spartan", sans-serif;
}

.packet-documentation .packet .card .harga{
  color: #5E17EB;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.packet-documentation .packet .card p{
  margin: 0 0 -7px 0;
  font-size: 18px;
  text-decoration: line-through;
  font-weight: bold;
  text-decoration-color: rgb(205, 3, 3);
  text-decoration-thickness: 3px;
}

.packet-documentation .packet .card b{
  font-size: 20px;
}

.packet-documentation .packet .card b span{
  font-size: 11px;
}

.packet-documentation .packet .card ul{
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
}

.packet-documentation .packet .card ul li{
  font-weight: bold;
}

.packet-documentation .packet button{
  margin-top: 15px;
  border-radius: 20px;
  padding: 6px 10px;
  border: 1px solid #5E17EB;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 3px 0 #5E17EB;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}

.packet-documentation .packet button:hover{
  background-color: #5E17EB;
  color: #FFFFFF;
}

.packet-website{
  position: relative;
}

.packet-website::after{
    content: "";
    position: absolute;
    width: 260px;
    height: 8px;
    background-color: #A4DDED;
    box-shadow: 0 15px 0 0 #E5B80B;
    right: 0;
    top: 120px;
}

.packet-website .container-content{
  padding: 80px 0;
}

.packet-website .content .title{
  text-align: center;
  margin: 60px 0 50px 0;
  font-family: "League Spartan", sans-serif;
}

.packet-website .content .title h1{
  line-height: 40px;
}

.packet-website .content .title span{
  border: 4px solid #A4DDED;
  border-right: 4px solid #A4DDED;
  border-left: 1px solid #A4DDED;
  border-top: 1px solid #A4DDED;
  padding: 7px 7px 0 7px;
  border-radius: 5px;
}

.packet-website .content .card-content{
  display: flex;
  justify-content: center;
  gap: 25px;
  position: relative;
}

.packet-website .content .card-content::after{
  content: "";
  position: absolute;
  background-image: url('../src/assets/img/circle-group-goldblue.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 100px;
  left: -30px;
  bottom: -130px;
}

.packet-website .content .card-content .card{
  width: calc(25% - 18px);
  text-align: center;
  padding: 30px 15px;
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
}

.packet-website .content .card-content .card::after{
  position: absolute;
  content: "";
  background-image: url('../src/assets/img/double-down-gold.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  bottom: -45px;
  left: 43%;
  z-index: 0 !important;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.packet-website .content .card-content .card:hover{
  box-shadow: 0px 0px 30px 3px #A4DDED inset;
}

.packet-website .content .card-content .card:hover img{
  margin-top: -5px;
}

.packet-website .content .card-content .card:hover::after{
  visibility: visible;
  animation: loop 2s infinite;
}

@keyframes loop{
  0% {bottom: -45px;}
  50% {bottom: -55px}
  100% {bottom: -45px}
}

.packet-website .content .card-content .card img{
  width: 70px;
  margin: 0 auto;
  transition: 0.3s;
  filter: drop-shadow(1px 1px 0 #4b4b4b);
}

.packet-website .content .card-content .card h5{
  font-family: "League Spartan", sans-serif;
  margin: 30px 0 15px 0;
}

.packet-website .content .card-content .card p{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.packet-website .portfolio{
  margin: 50px 0;
  padding: 50px 0;
}

.packet-website .portfolio .portfolio-flex .content{
  padding: 80px 0 0 0;
}

.packet-website .portfolio .portfolio-flex .content .text{
  width: 75%;
  padding: 80px 0 70px 0;
  text-align: center;
  margin: 0 auto;
}

.packet-website .portfolio .portfolio-flex .content .text small{
  font-family: "Open Sans", sans-serif;
  position: relative;
  display: inline-block;
  padding: 2px 5px;
  box-shadow: 0 2px 0 0 #A4DDED;
  font-size: 12px;
}

.packet-website .portfolio .portfolio-flex .content .text small::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: #A4DDED;
  top: 50%;
  left: -25px;
}

.packet-website .portfolio .portfolio-flex .content .text small::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: #A4DDED;
  top: 50%;
  right: -25px;
}

.packet-website .portfolio .portfolio-flex .content .text h1{
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 50px;
  margin-top: 20px;
}

.packet-website .portfolio .portfolio-flex .content .text h1 span{
  text-decoration: underline #A4DDED;
}

.packet-website .portfolio .portfolio-flex .content .text p{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 20px auto 60px auto;
  opacity: 0.7;
  width: 60%;
}

.packet-website .portfolio .portfolio-flex .content .text button{
  font-family: "Open Sans", sans-serif;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 #A4DDED;
  border: 2px solid #E5B80B;
  background-color: #FFFFFF;
  color: #000000;
  opacity: 0.9;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.packet-website .portfolio .portfolio-flex .content .text button:hover{
  font-weight: 600;
  border: 1px solid #E5B80B;
  box-shadow: 4px 4px 0 0 #A4DDED, -1px -1px 0 0 #A4DDED;
  opacity: 1;
}

.packet-website .portfolio .portfolio-flex .content .content-portfolio .slick-slider{
  text-align: center;
  margin: 20px 0 0 0;
}

.packet-website .portfolio .portfolio-flex .content .content-portfolio .slick-slider img{
  width: 95% !important;
  margin: 0 auto;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgb(196, 196, 196);
  object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .sideWrap{
    right: -470px;
    top: 150px;
    transform: rotate(45deg);
    font-size: 48px;
    width: 800px;
    height: 400px;
  }

  .partners{
    width: 70%;
  }
  
  .swiper-slide img{
    width: 180px;
    height: 150px;
    object-fit: contain;
  }

  .bahana{
    margin-top: 8px;
  }

  .slider-for {
    width: 85%;
    margin: 0 auto;
  }
  .slider-nav {
    width: 85%;
    margin: 0 auto;
  }

  #about{
    margin-top: -150px;
  }

  #product .card-bet{
    width: 360px;
    height: auto;
  }
  
  .packet-documentation .packet .card{
    width: 30%;
    padding: 15px;
  }

  .packet-website .content .card-content .card::after{
    left: 41%;
  }

  .packet-website .portfolio .portfolio-flex .content .text{
    width: 85%;
  }

}
@media screen and (max-width: 976px) {
  .sideWrap{
    right: -470px;
    top: 150px;
    transform: rotate(45deg);
    font-size: 48px;
    width: 700px;
    height: 400px;
  }

  #hero{
    margin: 70px 0 0 0;
  }

  .partners{
    width: 80%;
  }
  
  .swiper-slide img{
    width: 160px;
    height: 145px;
    object-fit: contain;
  }

  
.realtour img{
  width: 155px;
  height: 140px;
  object-fit: contain;
  margin-top: 5px;
}

.nyamanin img{
  width: 155px;
  height: 140px;
  object-fit: contain;
  margin-top: 10px;
}

.kronika img, .habatour img{
  width: 150;
  height: 135px;
  object-fit: contain;
  margin-top: 13px;
}

.bahana img{
  width: 180px;
  height: 170px;
  object-fit: contain;
  margin-top: -10px;
}

.apostrof img, .halakah img{
  width: 160px;
  height: 145px;
  object-fit: contain;
}

.AYP img{
  width: 220px;
  height: 180px;
  object-fit: contain;
  margin-top: -5px;
}

.TMF img{
  width: 220px;
  height: 180px;
  object-fit: contain;
  margin-top: -5px;
}

.TMC img{
  width: 220px;
  height: 180px;
  object-fit: contain;
  margin-top: -5px;
}

  .slider-for {
    width: 90%;
    margin: 0 auto;
  }
  .slider-nav {
    width: 90%;
    margin: 0 auto;
  }

  #product .card-bet{
    width: 350px;
    height: auto;
  }

  #about{
    margin-top: -100px;
  }

  .packet-documentation .circle-elemen img{
    width: 150px;
    height: auto;
    position: absolute;
    right: 30px;
    margin: 120px 0 0 0;
  }
  
  .packet-documentation .packet .card{
    width: 35%;
    padding: 15px;
  }

  .packet-website .portfolio {
    margin: 50px 0;
    padding: 50px 0;
}

  .packet-website::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 6px;
    background-color: #A4DDED;
    box-shadow: 0 14px 0 0 #E5B80B;
    right: 0;
    top: 120px;
}

  .packet-website .content .card-content .card{
    width: calc(40% - 18px);
    text-align: center;
    padding: 30px 15px;
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
  }

  .packet-website .content .card-content{
    flex-wrap: wrap;
    gap: 40px 25px;
  }

  .packet-website .content .card-content .card::after{
    position: absolute;
    content: "";
    background-image: url('../src/assets/img/double-down-gold.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    bottom: -35px;
    left: 43%;
    z-index: 0 !important;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  @keyframes loop{
    0% {bottom: -35px;}
    50% {bottom: -40px}
    100% {bottom: -35px}
  }

  .packet-website .portfolio .portfolio-flex .content{
    flex-direction: column;
    gap: 50px;
    padding: 100px 10px 0 10px;
  }

  .packet-website .portfolio .portfolio-flex .content .text{
    width: 100%;
    padding: 0;
  }

  .packet-website .portfolio .portfolio-flex .content .text h1{
    font-size: 45px;
  }

  .packet-website .portfolio .portfolio-flex .content .text p{
    width: 80%;
  }

  .packet-website .portfolio .portfolio-flex .content .content-portfolio .slick-slider{
    text-align: center;
    margin: 70px 0 0 0;
  }

}
@media screen and (max-width: 768px) {
  .sideWrap{
    right: -600px;
    top: 200px;
    transform: rotate(45deg);
    font-size: 48px;
    width: 700px;
    height: 370px;
  }

  #hero .wrapper{
    width: 100%;
  }

  .partners{
    width: 90%;
  }
  
  .swiper-slide img{
    width: 150px;
    height: 135px;
    object-fit: contain;
  }

  .slider-for {
    width: 100%;
    margin: 0 auto;
  }
  .slider-nav {
    width: 100%;
    margin: 0 auto;
  }

  .slider-for .text-white.position-absolute{
    margin: -90px 0 0 30px;
  }
  
  .slider-for .d-flex.gap-4{
    margin: 20px 0 0 0;
  }

  .bahana{
    margin-top: 23px;
  }

  #product .card-bet{
    width: 50%;
    height: auto;
  }
  #product .card-bet h1{
    padding: 0 10px 0 0 !important;
    font-size: 20px !important;
  }

  #product .img-icon{
    width: 80px;
    height: 80px
  }

  #product .card-body.p-4 p{
    font-size: 14px;
    line-height: 19px;
    opacity: 0.8;
  }

  #about{
    margin-top: -30px;
  }

  .packet-documentation .circle-elemen img{
    width: 130px;
    height: auto;
    position: absolute;
    right: 5px;
    margin: 180px 0 0 0;
  }

  .packet-documentation .packet .card{
    width: 45%;
    padding: 15px;
  }

  .packet-website .content .card-content .card{
    width: calc(50% - 18px);
    text-align: center;
    padding: 30px 15px;
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
  }

  .packet-website .content .card-content::after{
    content: "";
    position: absolute;
    background-image: url('../src/assets/img/circle-group-goldblue.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    left: 10px;
    bottom: -120px;
  }

}

@media screen and (max-width: 576px) {
  .sideWrap{
    right: -650px;
    top: 220px;
    transform: rotate(45deg);
    font-size: 48px;
    width: 700px;
    height: 370px;
  }

  .partners{
    width: 85%;
    margin: auto;
  }
  
  .swiper-slide img{
    width: 130px;
    height: 120px;
    object-fit: contain;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center; /* Pusatkan konten dalam slide */
  }

  .product .card-body.p-4{
    height: auto;
  }

  #product{
    padding: 80px 0 170px 0;
  }
  
.slider-for h4{
  font-size: 18px;
}

.slider-for button{
  padding: 5px 14px;
  font-size: 14px;
  border-radius: 30px;
  border: none;
}

.slider-for .text-white.position-absolute{
  margin: -80px 0 0 30px;
}

.slider-for .d-flex.gap-4{
  margin: 20px 0 0 0;
}

.slider-nav{
  margin: 0 auto !important;
}

.image-wrapper::after{
  height: 70%;
}

.AYP img{
  width: 150px;
  height: 130px;
  object-fit: contain;
  margin-top: 5px;
}

.TMF img{
  width: 150px;
  height: 130px;
  object-fit: contain;
  margin-top: 5px;
}

.TMC img{
  width: 150px;
  height: 130px;
  object-fit: contain;
  margin-top: 5px;
}

.about .fs-5.fw-light.py-4{
  font-size: 16px !important;
}

#product .card-body.p-4{
  padding: 10px !important;
}

#product .card-body.p-4 p{
  font-size: 13px !important;
  line-height: 15px;
  opacity: 0.8;
}

#product .card-body.p-4 .small-text-center{
  font-size: 12px !important;
}
#product .card-body.p-4 .position-absolute svg{
  width: 20px !important;
}

#product .card-bet{
  padding: 0 6px !important;
}

#product .card-bet h1{
  font-size: 17px !important;
}
#product .card-bet h5{
  font-size: 17px !important;
}

#about{
  margin-top: -40px;
}

#documentation .py-5{
  padding-top: 5rem !important;
}

#brandidentity .py-5{
  padding-top: 5rem !important;
}

.packet-documentation .circle-elemen img{
  width: 120px;
  height: auto;
  position: absolute;
  right: 5px;
  margin: 200px 0 0 0;
}

.packet-documentation .packet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.packet-documentation .packet .card{
  width: 70%;
  padding: 15px;
}

.packet-website::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 6px;
  background-color: #A4DDED;
  box-shadow: 0 14px 0 0 #E5B80B;
  right: 0;
  top: 120px;
}

.packet-website .content .card-content{
  gap: 50px;
}

.packet-website .content .card-content .card{
  width: 80%;
}

.packet-website .content .card-content .card::after{
  position: absolute;
  content: "";
  background-image: url('../src/assets/img/double-down-gold.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  bottom: -5px;
  left: 45%;
  z-index: 0 !important;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

@keyframes loop{
  0% {bottom: -30px;}
  50% {bottom: -35px}
  100% {bottom: -30px}
}

.packet-website .portfolio .portfolio-flex .content .text small{
  font-size: 14px;
}

.packet-website .portfolio .portfolio-flex .content .text h1{
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  font-size: 36px;
  margin-top: 10px;
}

.packet-website .portfolio .portfolio-flex .content .text p{
  width: 100%;
}

}

@media screen and (max-width: 380px) {
  .slider-for h4{
    font-size: 16px;
    height: 40px;
  }

  .slider-for .text-white.position-absolute{
    margin: -60px 0 0 15px;
  }
  
  .slider-for .d-flex.gap-4{
    margin: 10px 0 0 0;
  }

  .AYP img{
    width: 250px;
    height: 190px;
    object-fit: contain;
    margin-top: 5px;
  }
  
  .TMF img{
    width: 250px;
    height: 190px;
    object-fit: contain;
    margin-top: 5px;
  }
  
  .TMC img{
    width: 250px;
    height: 190px;
    object-fit: contain;
    margin-top: 5px;
  }

  .rounded-circle{
    display: none;
  }

  .swiper-slide img{
    width: 100px;
    height: 90px;
    object-fit: contain;
  }

    
.realtour img{
  margin-top: 7px !important;
}

#product .img-icon{
  width: 60px;
  height: 60px
}

#product .card-body.p-4{
  padding: 10px !important;
}
#product .card-body.p-4 p{
  font-size: 11px !important;
  line-height: 12px;
}
#product .card-body.p-4 .small-text-center{
  display: none;
}
#product .card-body.p-4 .position-absolute svg{
  width: 20px !important;
}

#product .card-bet{
  padding: 0 6px !important;
}

#product .card-bet h1{
  font-size: 14px !important;
  padding: 0 5px 0 0 !important;
}
#product .card-bet h5{
  font-size: 14px !important;
}

#product .position-absolute{
  margin: 0 0 0 -10px !important;
}

#documentation .py-5{
  padding-top: 1rem !important;
}

#brandidentity .py-5{
  padding-top: 1rem !important;
}

.packet-documentation .packet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.packet-documentation .packet .card{
  width: 90%;
  padding: 15px;
}

.packet-website::after{
  display: none;
}

.packet-website .content .card-content .card{
  width: 95%;
}

.packet-website .portfolio .portfolio-flex .content .text h1{
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin-top: 10px;
}

.packet-website .portfolio .portfolio-flex .content .text p{
  width: 100%;
  font-size: 14px;
  margin: 15px 0 35px 0;
}
}