/* Gaya untuk tombol navigasi (arrow) slider */
.slider-for .slick-prev, 
.slider-for .slick-next {
  width: 30px !important;
  height: 40px;
  background: none; /* Menghapus background tombol */
  color: #ffffff; /* Warna ikon */
  z-index: 1; /* Agar tombol berada di atas konten slider */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.swiper{
  text-align: center !important;
}

/* Menyesuaikan gaya tombol prev */
.slider-for .slick-prev {
  left: 10px; /* Jarak dari sisi kiri slider */
}

/* Menyesuaikan gaya tombol next */
.slider-for .slick-next {
  right: 10px; /* Jarak dari sisi kanan slider */
}

/* Gaya untuk ikon dalam tombol navigasi */
.slider-for .slick-prev:before, 
.slider-for .slick-next:before {
  font-size: 24px; /* Ukuran ikon */
  color: #ffffff; /* Warna ikon */
}

/* Menambahkan efek hover pada tombol */
.slider-for .slick-prev:hover, 
.slider-for .slick-next:hover {
  background: rgba(255, 255, 255, 0.1);
}

.navbar{
  box-shadow: 0 4px 4px #c4c4c4;
}

#hero{
  margin: 75px 0 0 0;
}

#hero .wrapper{
  width:55%;
}

.about .fs-5.fw-light.py-4{
  font-size: 20px;
}

.sideWrap{
  right: -400px;
  top: 100px;
  transform: rotate(45deg);
  font-size: 48px;
  width: 800px;
  height: 500px;
}

.partners{
  width: 60%;
}

.realtour img{
  width: 190px;
  height: 180px;
  object-fit: contain;
  margin-top: -10px;
}

.nyamanin img{
  width: 200px;
  height: 190px;
  object-fit: contain;
  margin-top: -5px;
}

.AYP img{
  width: 240px;
  height: 190px;
  object-fit: contain;
  margin-top: -5px;
}

.TMF img{
  width: 240px;
  height: 190px;
  object-fit: contain;
  margin-top: -5px;
}

.TMC img{
  width: 240px;
  height: 190px;
  object-fit: contain;
  margin-top: -5px;
}

.kronika img, .habatour img{
  width: 190px;
  height: 180px;
  object-fit: contain;
}

.bahana img{
  width: 210px;
  height: 200px;
  object-fit: contain;
  margin-top: -9px;
}

.apostrof img, .halakah img{
  width: 180px;
  height: 150px;
  object-fit: contain;
}

.slider-for {
  width: 65%;
  margin: 0 auto;
}
.slider-nav {
  width: 65%;
  margin: 0 auto;
}

.slider-for button{
  padding: 10px 28px;
  border-radius: 30px;
  border: none;
}
.slider-for .fw-bold.button-blur{
  backdrop-filter: blur(4px) !important;
  color: white;
  background-color: rgba(229, 231, 235, 0.2) !important;
}

.slider-for .text-white.position-absolute{
  margin: -110px 0 0 30px;
}

.slider-for .d-flex.gap-4{
  margin: 40px 0 0 0;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
  color: rgb(255, 255, 255) !important;
  background-color: #a1a1a1;
  width: 30px !important;
  height: 37px !important;
  border-radius: 5px;
  right: 5px !important;
  opacity: 0.9 !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-prev{
  color: rgb(255, 255, 255) !important;
  background-color: #a1a1a1;
  width: 30px !important;
  height: 37px !important;
  border-radius: 5px;
  left: 5px !important;
  opacity: 0.9 !important;
}

.swiper-button-next:after{
  font-size: 20px !important;
  font-weight: 800;
}
.swiper-button-prev:after{
  font-size: 20px !important;
  font-weight: 800;
}

#product{
  padding: 80px 0 130px 0;
}

#product .img-icon{
  width: 100px;
  height: 100px
}

#product .card-body.p-4 p{
  font-size: 15px;
}

#product .card-bet .card-body.p-4{
  height: auto;
}

#product .card-bet{
  width: 450px;
  height: auto;
}

#portfolio .py-5{
  padding-top: 6rem !important;
}

#documentation .py-5{
  padding-top: 6rem !important;
}

#documentation .breadcrumb{
  font-family: "Open Sans", sans-serif;
}

#brandidentity .py-5{
  padding-top: 6rem !important;
}

#about .display-5.fw-normal.mb-2 span{
  background-color: #F8F9FA;
  padding: 0 15px;
}
#about .display-3.fw-bold{
  text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

.packet-documentation .packet{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.packet-documentation .packet .card{
  width: 25%;
  padding: 15px;
}

.packet-documentation .packet .card h4{
  border: 1px solid;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  border-radius: 30px;
  font-family: "League Spartan", sans-serif;
}

.packet-documentation .packet .card .harga{
  color: #5E17EB;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.packet-documentation .packet .card p{
  margin: 0 0 -7px 0;
  font-size: 18px;
  text-decoration: line-through;
  font-weight: bold;
  text-decoration-color: rgb(205, 3, 3);
  text-decoration-thickness: 3px;
}

.packet-documentation .packet .card b{
  font-size: 20px;
}

.packet-documentation .packet .card b span{
  font-size: 11px;
}

.packet-documentation .packet .card ul{
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
}

.packet-documentation .packet .card ul li{
  font-weight: bold;
}

.packet-documentation .packet button{
  margin-top: 15px;
  border-radius: 20px;
  padding: 6px 10px;
  border: 1px solid #5E17EB;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 3px 0 #5E17EB;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 1200px) {
  .sideWrap{
    right: -470px;
    top: 150px;
    transform: rotate(45deg);
    font-size: 48px;
    width: 800px;
    height: 400px;
  }

  .partners{
    width: 70%;
  }
  
  .swiper-slide img{
    width: 180px;
    height: 150px;
    object-fit: contain;
  }

  .bahana{
    margin-top: 8px;
  }

  .slider-for {
    width: 85%;
    margin: 0 auto;
  }
  .slider-nav {
    width: 85%;
    margin: 0 auto;
  }

  #about{
    margin-top: -150px;
  }

  #product .card-bet{
    width: 360px;
    height: auto;
  }
  
  .packet-documentation .packet .card{
    width: 30%;
    padding: 15px;
  }
}
@media screen and (max-width: 976px) {
  .sideWrap{
    right: -470px;
    top: 150px;
    transform: rotate(45deg);
    font-size: 48px;
    width: 700px;
    height: 400px;
  }

  #hero{
    margin: 70px 0 0 0;
  }

  .partners{
    width: 80%;
  }
  
  .swiper-slide img{
    width: 160px;
    height: 145px;
    object-fit: contain;
  }

  
.realtour img{
  width: 155px;
  height: 140px;
  object-fit: contain;
  margin-top: 5px;
}

.nyamanin img{
  width: 155px;
  height: 140px;
  object-fit: contain;
  margin-top: 10px;
}

.kronika img, .habatour img{
  width: 150;
  height: 135px;
  object-fit: contain;
  margin-top: 13px;
}

.bahana img{
  width: 180px;
  height: 170px;
  object-fit: contain;
  margin-top: -10px;
}

.apostrof img, .halakah img{
  width: 160px;
  height: 145px;
  object-fit: contain;
}

.AYP img{
  width: 220px;
  height: 180px;
  object-fit: contain;
  margin-top: -5px;
}

.TMF img{
  width: 220px;
  height: 180px;
  object-fit: contain;
  margin-top: -5px;
}

.TMC img{
  width: 220px;
  height: 180px;
  object-fit: contain;
  margin-top: -5px;
}

  .slider-for {
    width: 90%;
    margin: 0 auto;
  }
  .slider-nav {
    width: 90%;
    margin: 0 auto;
  }

  #product .card-bet{
    width: 350px;
    height: auto;
  }

  #about{
    margin-top: -100px;
  }
  
  .packet-documentation .packet .card{
    width: 35%;
    padding: 15px;
  }
}
@media screen and (max-width: 768px) {
  .sideWrap{
    right: -600px;
    top: 200px;
    transform: rotate(45deg);
    font-size: 48px;
    width: 700px;
    height: 370px;
  }

  #hero .wrapper{
    width: 100%;
  }

  .partners{
    width: 90%;
  }
  
  .swiper-slide img{
    width: 150px;
    height: 135px;
    object-fit: contain;
  }

  .slider-for {
    width: 100%;
    margin: 0 auto;
  }
  .slider-nav {
    width: 100%;
    margin: 0 auto;
  }

  .slider-for .text-white.position-absolute{
    margin: -90px 0 0 30px;
  }
  
  .slider-for .d-flex.gap-4{
    margin: 20px 0 0 0;
  }

  .bahana{
    margin-top: 23px;
  }

  #product .card-bet{
    width: 50%;
    height: auto;
  }
  #product .card-bet h1{
    padding: 0 10px 0 0 !important;
    font-size: 20px !important;
  }

  #product .img-icon{
    width: 80px;
    height: 80px
  }

  #product .card-body.p-4 p{
    font-size: 14px;
    line-height: 19px;
    opacity: 0.8;
  }

  #about{
    margin-top: -30px;
  }

  .packet-documentation .packet .card{
    width: 45%;
    padding: 15px;
  }

}

@media screen and (max-width: 576px) {
  .sideWrap{
    right: -650px;
    top: 220px;
    transform: rotate(45deg);
    font-size: 48px;
    width: 700px;
    height: 370px;
  }

  .partners{
    width: 85%;
    margin: auto;
  }
  
  .swiper-slide img{
    width: 130px;
    height: 120px;
    object-fit: contain;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center; /* Pusatkan konten dalam slide */
  }

  .product .card-body.p-4{
    height: auto;
  }

  #product{
    padding: 80px 0 170px 0;
  }
  
.slider-for h4{
  font-size: 18px;
}

.slider-for button{
  padding: 5px 14px;
  font-size: 14px;
  border-radius: 30px;
  border: none;
}

.slider-for .text-white.position-absolute{
  margin: -80px 0 0 30px;
}

.slider-for .d-flex.gap-4{
  margin: 20px 0 0 0;
}

.AYP img{
  width: 150px;
  height: 130px;
  object-fit: contain;
  margin-top: 5px;
}

.TMF img{
  width: 150px;
  height: 130px;
  object-fit: contain;
  margin-top: 5px;
}

.TMC img{
  width: 150px;
  height: 130px;
  object-fit: contain;
  margin-top: 5px;
}

.about .fs-5.fw-light.py-4{
  font-size: 16px !important;
}

#product .card-body.p-4{
  padding: 10px !important;
}

#product .card-body.p-4 p{
  font-size: 13px !important;
  line-height: 15px;
  opacity: 0.8;
}

#product .card-body.p-4 .small-text-center{
  font-size: 12px !important;
}
#product .card-body.p-4 .position-absolute svg{
  width: 20px !important;
}

#product .card-bet{
  padding: 0 6px !important;
}

#product .card-bet h1{
  font-size: 17px !important;
}
#product .card-bet h5{
  font-size: 17px !important;
}

#about{
  margin-top: -40px;
}

#documentation .py-5{
  padding-top: 5rem !important;
}

#brandidentity .py-5{
  padding-top: 5rem !important;
}

.packet-documentation .packet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.packet-documentation .packet .card{
  width: 70%;
  padding: 15px;
}
}

@media screen and (max-width: 380px) {
  .slider-for h4{
    font-size: 16px;
    height: 40px;
  }

  .slider-for .text-white.position-absolute{
    margin: -60px 0 0 15px;
  }
  
  .slider-for .d-flex.gap-4{
    margin: 10px 0 0 0;
  }

  .AYP img{
    width: 250px;
    height: 190px;
    object-fit: contain;
    margin-top: 5px;
  }
  
  .TMF img{
    width: 250px;
    height: 190px;
    object-fit: contain;
    margin-top: 5px;
  }
  
  .TMC img{
    width: 250px;
    height: 190px;
    object-fit: contain;
    margin-top: 5px;
  }

  .rounded-circle{
    display: none;
  }

  .swiper-slide img{
    width: 100px;
    height: 90px;
    object-fit: contain;
  }

    
.realtour img{
  margin-top: 7px !important;
}

#product .img-icon{
  width: 60px;
  height: 60px
}

#product .card-body.p-4{
  padding: 10px !important;
}
#product .card-body.p-4 p{
  font-size: 11px !important;
  line-height: 12px;
}
#product .card-body.p-4 .small-text-center{
  display: none;
}
#product .card-body.p-4 .position-absolute svg{
  width: 20px !important;
}

#product .card-bet{
  padding: 0 6px !important;
}

#product .card-bet h1{
  font-size: 14px !important;
  padding: 0 5px 0 0 !important;
}
#product .card-bet h5{
  font-size: 14px !important;
}

#product .position-absolute{
  margin: 0 0 0 -10px !important;
}

#documentation .py-5{
  padding-top: 1rem !important;
}

#brandidentity .py-5{
  padding-top: 1rem !important;
}

.packet-documentation .packet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.packet-documentation .packet .card{
  width: 90%;
  padding: 15px;
}
}